.cart {
    background-color:#044e70;
    ;
    padding: 25px;
    position: sticky;
    top: 0;
}

.btn-clear-cart {
    width: 90%;
    height: 56px;
    font-size: 21px;
    margin: 10px auto;
    background: #9ecde2;;
    border-radius: 4px;
    color: rgb(19, 18, 18);
    display: flex;
    justify-content: space-between;
    align-items: center;
}